nav {
    background-color: lightskyblue;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover{
    background-color: red;
    color: yellow;
}